@import "_vars";
@btnPadding: 14px;

.er-prompt{
  font-size: 15px;
  text-align: center;
  .mask-normal{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 8;
  }
  //包含黑色遮罩
  .mask-black{
    background-color: rgba(0,0,0,.4);
  }
  p{
    padding: 17px 13px;
    word-break: break-all;
    >span{
      display: inline-block;
      text-align: justify;
    }
  }
  >.box-prompt{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 9;
    transform: translateY(-50%);
    p{
      display: inline-block;
      max-width: 80vw;
      border-radius: @radius-dialog-big;
      background-color: #fff;
      line-height: 1.6;
      color: @color-theme;
      box-shadow: @shadow-dialog-big;
    }
  }

  >.mask-confirm {
    width: 84vw;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9;
    transform: translate(-50%, -50%);
    border-radius: @radius-dialog-big;
    background-color: #fff;
    overflow: hidden;
    .btns{
      display: flex;
      border-top: 1px solid @color-line-gap;
      color: @color-theme;
    }
    .btn {
      padding: @btnPadding 0;
      width: 50%;
      &.right {
        border-left: 1px solid @color-line-gap;
      }
    }

    &.confirm-yes{
      .sure{
        //position: relative;
        padding: @btnPadding 0;
        border-top: 1px solid @color-line-gap;
        color: @color-theme;
        //&:before{
        //  content: '';
        //  position: absolute;
        //  top: 0;
        //  left: 0;
        //  right: 0;
        //  border-top: 1px solid #e0e0e0;
        //  transform: scaleY(.5);
        //}
      }
    }
  }
}
