$color-theme: #409EFF !default;
$color-bg: #f5f5f5 !default;

$border-section: 1px solid #eee !default;

$radius-dialog: 8px !default;
$radius-section: 4px !default;

$shadow-dialog: 1px 0 0 0 rgba(0,0,0,.5) !default;
$shadow-section: 1px 0 0 0 rgba(0,0,0,.5) !default;

$font-main: 14px !default;

